<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand text-light" style="font-size: 28px;" routerLink="/admin">Welcome Student</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          
            
          
        </div>
        
      <a style="font-size: 25px;" class="nav-link" routerLink="/home" routerLinkActive="true">Logout</a>
       
      </nav>
 

</div>
<link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,900" rel="stylesheet">

<div class="container mt-5">
  <div class="row col-md-12">
    <div >
      <div class="card card-1" (click)="files()">
        <h3>Add or View Notes</h3>
        <p style="font-size: 22px;">Upload Assignments or download lecture videos, notes,files.</p>
      </div>
    </div>

    
    <div >
     
        <hr>
      <div class="card card-2" (click)="codeshef()">
        <h3>Compete With other Programmers</h3>
        <p style="font-size:18px;">CodeChef is a wonderful website in order to prepare for the top product based Companies</p>
      </div>


      <div class="card card-2" (click)="hacker()">
        <h3>Hackerrank To Grow Your Skills</h3>
        <p style="font-size:18px;">Beginner Friendly website to test and improve your coding</p>
      </div>

      <div class="card card-2" (click)="gfg()">
        <h3>GFG</h3>
        <p style="font-size:18px;">Learn to prepare for interviews..</p>
      </div>

    </div>
    
  </div>
</div>