<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-light" style="font-size: 28px;" routerLink="/admin">Admin</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item ">
          <a class="nav-link" routerLink="teachers" routerLinkActive="true">List of Teachers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="students" routerLinkActive="true">List of Student</a>
          <!-- <button class="btn btn-outline-info" (click)="loadStudent()">Add Student</button> -->
        </li>

       


        <!-- <li class="nav-item">
          <button class="btn btn-outline-info ml-4">Update Profile</button>
        </li> -->
      </ul>

    </div>
    <!-- <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search Users">

    </form> -->
  </div>
</nav>
<!-- Code for main admin navigation bar ends here -->

<router-outlet>
</router-outlet>
